@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,400;1,500;1,600&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
}
.container{
  width: 1200px;
}
.advert{
  width: 100vw;
  height: 100vh;

}
.advert__inner{
  padding: 100px 0;
}
.advert__title{
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -2px;
}
.bg-content{
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  background-color: #54c6d5;
  z-index: -1;
}
.advert__desc{
  padding-left: 200px;
}
.advert__list{
  list-style: none;
  margin-bottom: 20px;
}
.advert__item{
  margin-bottom: 12px;
  font-size: 26px;
  font-weight: 600;
}
.advert__time{
  font-size: 20px;
}
.advert__time span{
  color:#3090da;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -2px;
}
.advert_p{
  font-size: 26px;
  color:#3090da;
margin-top: -20px;
margin-bottom: 20px;
}